greenc32/schemas/sample/green_cda_narrative.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Richard Geimer (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:greencda:c32" targetNamespace="urn:hl7-org:greencda:c32" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="textType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="a"/>
			<xs:element ref="b"/>
			<xs:element ref="i"/>
			<xs:element ref="ol"/>
			<xs:element ref="ul"/>
			<xs:element ref="u"/>
			<xs:element ref="p"/>
			<xs:element ref="br"/>
			<xs:element ref="table"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="root" type="textType"/>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="b"/>
				<xs:element ref="i"/>
				<xs:element ref="u"/>
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="i"/>
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="i">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="b"/>
				<xs:element ref="u"/>
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="u">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="b"/>
				<xs:element ref="i"/>
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="li" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="li" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="a">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="b"/>
				<xs:element ref="i"/>
				<xs:element ref="u"/>
				<xs:element ref="br"/>
			</xs:choice>
			<xs:attribute name="href" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="b"/>
				<xs:element ref="i"/>
				<xs:element ref="u"/>
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="caption" type="GreenCDA.Caption" minOccurs="0"/>
				<xs:choice>
					<xs:element name="col" type="GreenCDA.Col" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="colgroup" type="GreenCDA.Colgroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element name="thead" type="GreenCDA.Thead" minOccurs="0"/>
				<xs:element name="tfoot" type="GreenCDA.Tfoot" minOccurs="0"/>
				<xs:element name="tbody" type="GreenCDA.Tbody" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="summary" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="border" type="xs:string"/>
			<xs:attribute name="frame">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="void"/>
						<xs:enumeration value="above"/>
						<xs:enumeration value="below"/>
						<xs:enumeration value="hsides"/>
						<xs:enumeration value="lhs"/>
						<xs:enumeration value="rhs"/>
						<xs:enumeration value="vsides"/>
						<xs:enumeration value="box"/>
						<xs:enumeration value="border"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rules">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none"/>
						<xs:enumeration value="groups"/>
						<xs:enumeration value="rows"/>
						<xs:enumeration value="cols"/>
						<xs:enumeration value="all"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cellspacing" type="xs:string"/>
			<xs:attribute name="cellpadding" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GreenCDA.Tbody">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="tr" type="GreenCDA.Tr"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Td" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="a"/>
			<xs:element ref="b"/>
			<xs:element ref="i"/>
			<xs:element ref="u"/>
			<xs:element ref="br"/>
			<xs:element ref="li"/>
		</xs:choice>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="abbr" type="xs:string"/>
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="headers" type="xs:IDREFS"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="row"/>
					<xs:enumeration value="col"/>
					<xs:enumeration value="rowgroup"/>
					<xs:enumeration value="colgroup"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rowspan" type="xs:string" default="1"/>
		<xs:attribute name="colspan" type="xs:string" default="1"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Tfoot">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="tr" type="GreenCDA.Tr"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Th" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="a"/>
			<xs:element ref="b"/>
			<xs:element ref="i"/>
			<xs:element ref="u"/>
			<xs:element ref="br"/>
			<xs:element ref="li"/>
		</xs:choice>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="abbr" type="xs:string"/>
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="headers" type="xs:IDREFS"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="row"/>
					<xs:enumeration value="col"/>
					<xs:enumeration value="rowgroup"/>
					<xs:enumeration value="colgroup"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rowspan" type="xs:string" default="1"/>
		<xs:attribute name="colspan" type="xs:string" default="1"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Thead">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="tr" type="GreenCDA.Tr"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Tr">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="th" type="GreenCDA.Th"/>
			<xs:element name="td" type="GreenCDA.Td"/>
		</xs:choice>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Caption" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Col">
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="span" type="xs:string" default="1"/>
		<xs:attribute name="width" type="xs:string"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GreenCDA.Colgroup">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="col" type="GreenCDA.Col"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="language" type="xs:NMTOKEN"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		<xs:attribute name="span" type="xs:string" default="1"/>
		<xs:attribute name="width" type="xs:string"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
