greenc32/schemas/rest_plus/advance_directive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gc32="urn:hl7-org:greencda:c32" targetNamespace="urn:hl7-org:greencda:c32" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="data_types.xsd"/>
    <xs:element name="advanceDirective">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="gc32:code" />
                <xs:element name="effectiveTime" type="gc32:interval" />
                <xs:element name="freeText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
