greenc32/schemas/rest_plus/medical_equipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gc32="urn:hl7-org:greencda:c32" targetNamespace="urn:hl7-org:greencda:c32" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="data_types.xsd"/>
  <xs:element name="medicalEquipment" type="gc32:supply">
    <xs:complexContent>
      <xs:extension base="gc32:entry">
        <xs:sequence>
          <xs:element name="quantity" name="gc32:quantity" />
          <xs:element name="manufacturer" name="gc32:organization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:element>
</xs:schema>