greenc32/schemas/rest_plus/plan_of_care.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gc32="urn:hl7-org:greencda:c32" targetNamespace="urn:hl7-org:greencda:c32" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complextType name="planOfCare">
    <xs:choice>
      <xs:element name="procedure" type="gc32:procedure" />
      <xs:element name="entry" type"gc32:entry" />
      <xs:element name="observation" type="gc32:result" />
      <xs:element name="encounter" type="gc32:encounter" />
      <xs:element name="supply" type="gc32:supply" />
      <xs:element name="medication" type="gc32:medication" />
    </xs:choice>
  </xs:complextType>
</xs:schema>
